<div class="login-page">
  <div class="overlay"></div>
  <div class="login-container">
    <div class="login-header">
      <h1>Audio</h1>
      <p>It's modular and designed to last</p>
    </div>
    <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input
          type="username"
          formControlName="username"
          placeholder="Username"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          formControlName="password"
          placeholder="Password"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <a href="#" class="forgot-password">Forgot Password</a>
      </div>
      <button type="submit" class="login-button">Sign In</button>
    </form>
    <div class="signup-link">
      <p>
        <a routerLink="/"> Home&nbsp;</a>Didn't have any account?
        <a routerLink="/auth/signup">Sign Up here</a>
      </p>
    </div>
  </div>
</div>
