.cart-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  min-height: calc(100vh - 410px);
}

.breadcrumb {
  margin-bottom: 20px;
}

.breadcrumb a {
  color: #000;
  text-decoration: none;
}

.cart-table-container {
  overflow-x: auto; /* Enables horizontal scrolling for small screens */
  margin: 20px;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px; /* Ensures table doesn't shrink too much */
}

.cart-table th,
.cart-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.cart-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.cart-table td {
  vertical-align: middle;
}

.actions {
  text-align: center; /* Center align actions column */
}

.remove-item {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.remove-item:hover {
  background-color: #c0392b;
}

@media (max-width: 768px) {
  .cart-table-container {
    margin: 10px;
  }

  .cart-table th,
  .cart-table td {
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  .cart-table td {
    padding: 6px; /* Adjust padding for smaller screens */
  }

  .cart-table {
    min-width: auto; /* Allow table to shrink on small screens */
  }
}

@media (max-width: 480px) {
  .cart-table-container {
    margin: 5px;
  }

  .cart-table th,
  .cart-table td {
    font-size: 12px; /* Further adjust font size */
  }

  .cart-table td {
    padding: 4px; /* Further adjust padding */
  }

  .remove-item {
    font-size: 12px; /* Adjust button font size */
    padding: 6px 12px; /* Adjust button padding */
  }

  .cart-table {
    min-width: 100%; /* Ensure table takes full width */
  }
}

.cart-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cart-actions button {
  background-color: #d9534f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.cart-total #btns {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 7px;
  gap: 5px;
}

.coupon-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.coupon-container input {
  width: 70%;
  padding: 10px;
  border: 1px solid #ddd;
}

.coupon-container button {
  background-color: #d9534f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.coupon-container button:hover {
  background: #d47a77;
}

.remove-item {
  background-color: #d9534f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.remove-item:hover {
  background: #d47a77;
}

.cart-total {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: right;
}

.cart-total p {
  margin: 10px 0;
}

.cart-total .checkout {
  background-color: #d9534f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.cart-total .checkout:hover {
  background: #d47a77;
}
