.form {
  padding: 0 50px;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-container .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #2c0808;
}

.input-container input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-container input::placeholder {
  color: #ccc;
}

.search-results {
  margin-top: 10px;
  background: #f9f9f9;
  border-radius: 5px;
  position: absolute;
  z-index: 99;
  max-height: 350px;
  width: 95%;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.result {
  // padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background 0.3s;
}

.result:last-child {
  border-bottom: none;
}

.result:hover {
  background: #f1f1f1;
}

.result a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  transition: background 0.3s, color 0.3s;
}

.result a:hover {
  background: #228b22;
  color: #fff;
}

.result a:last-child {
  border-bottom: none;
}

.result a:focus {
  outline: none;
  background: #0056b3;
  color: #fff;
}

.search-results::-webkit-scrollbar {
  width: 17px;
  border-radius: 20px;
  background: #fff;
}

.search-results::-webkit-scrollbar-thumb {
  width: 100%;
  border-radius: 20px;
  background: #32cd32;
}
